<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/investment">Investeringen</a>
      <a class="nav-item nav-link" href="/correction">Correcties</a>
      <a class="nav-item nav-link" href="/user">Huisgenoten</a>
      <a class="nav-item nav-link" href="/finance">Financieel Overzicht</a>
      <a class="nav-item nav-link" href="/user/logout">Logout</a>
    </div>
  </div>
</nav>